**/**/work
**/**/vsim.wlf
**/**/transcript
**/**/.hdl_checker
**/**/**/*.qpf
**/**/**/*.qsf
**/**/**/db
**/**/**/incremental_db
**/**/**/output_files
**/**/**/*.autosave.xopp
**/**/**/*.zip
**/**/**/c5_pin_model_dump.txt
**/**/**/*.qarlog
**/**/**/*.archive.rpt
**/**/synthesis/simulation
**/**/**/*.qws
**/**/.DS_Store
**/**/*restored
books
